@media screen and (max-width: 700px) {
    header .container{
        display: flex;
        flex-direction: column;
    }
    .botao{
        margin-top: 5px;
        width: 140px;
        height: 60px;
        flex-direction: row;
    }
    .titulo{
        margin-top: 5%;
        font-size: 2rem;
    }
}